body {
  margin-top: 20px;
  font-family: "Varela Round", sans-serif;
  color: #f9bf74;
  background: #89498b;
  background: linear-gradient(180deg, #eb769f 0%, #f9bf74 50%);
  background-attachment: fixed;
}
.container {
  max-width: 500px;
  margin: 0 auto;
}
.row {
  text-align: center;
  max-width: 500px;
}
.mainImage {
  width: 500px;
  height: 250px;
  border-radius: 50% 50% 0 0 / 100% 100% 10% 10%;
  background-image: url(https://s3.amazonaws.com/shecodesio-production/uploads/files/000/068/132/original/LofiWeather_Main01.png?1676738922);
  background-size: 100%;
  background-color: #89498b;
  box-shadow: 4px 4px 30px -15px #4c244d inset;
}
#description {
  font-size: small;
  text-transform: capitalize;
  text-align: center;
}
.currentInfo {
  font-size: 32px;
}
#tempFC {
  font-size: 32px;
}
.secondaryInfo {
  font-size: 13px;
}
.break {
  max-height: 10px;
}
.week {
  font-size: 13px;
  color: #da98dc;
}
.importedIcon {
  max-width: 50px;
}
#citySearchInput {
  text-align: left;
  font-size: 13px;
  font-style: italic;
  color: #4c244d;
  border-color: #4c244d;
}
#buttonSearch,
#buttonCurrentCity {
  font-size: 13px;
  font-style: normal;
  color: #4c244d;
  border-color: #4c244d;
}
.gradientP {
  background: #89498b;
  background: linear-gradient(
    90deg,
    #783e7a 0%,
    #89498b 25%,
    #89498b 75%,
    #783e7a 100%
  );
}
.gradientP2 {
  background: #89498b;
  background: linear-gradient(180deg, #783e7a 0%, #89498b 90%);
}
.rainDrop {
  font-size: x-small;
}
